/**/.classpath
/.gitattributes
/**/.project
/.gradle/
/.settings/
/js/A
/js/B
/**/*.bin
/**/*.exe
/**/*.class
/**/*.pdf
/**/*.war
/**/.settings/
/**/bin/
/**/build/
/ftp/
/jodconverter-sample-client/
/jodconverter-sample-webapp/
/session/
/tmp/
/utils/
