/.classpath
/.gitattributes
/.project
/.settings/
/js/A
/js/B
/utils/Highlight.exe
/**/*.class
/**/*.war
/**/*.jar
/**/*.pdf
/bin/
/refs/
/.gradle/
/build/
/**/*.bin
/gradle/
/jodconverter-sample-client/
/jodconverter-sample-webapp/
/gradle*
/tmp/
/ftp/
/session/
/spring/
